body {
  font-family: ProximaNova, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%;
  color: #5A5A5A;
  min-width: 480px;
}

.container span {
  line-height: 1.5;
}

.head {
  margin: 15px;
  margin-bottom: 25px;
}

.head img {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.head h1 {
  line-height: 1.5;
  font-size: 1.6rem;
}

#status {
  font-size: 16px;
  display: none;
}

#hr {
  display: none;
}

#action {
  font-size: 16px;
  display: none;
  margin-bottom: 20px;
}

#action input[type='submit'] {
  outline: 0;
}

.variant_id {
  vertical-align: middle;
}

.name {
  font-size: 16px;
  line-height: 1.5;
}

.unit {
  font-size: 14px;
}

.quantity input {
  width: 45px;
  height: 30px;
  text-align: center;
}

.body .row {
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.body .row:last-child {
  border: none;
}

.product img {
  background-image: url('../images/grey-logo.png');
  width: 75px;
  height: 75px;
  background-size: 75px 75px;
}

.how-to ol {
  font-size: 0.9rem;
}
